@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light;
  }

  body {
    background-color: theme("colors.paper");
  }

  :focus-visible {
    outline: 2px solid theme("colors.teal.DEFAULT");
    outline-offset: 2px;
  }
}
